# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.venv/
env/

# Env & secrets
.env
*.env

# Power BI
*.pbix.bak

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
