# Data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
parsaenv/

# Environment & secrets
.env
*.env

# Power BI
*.pbix.bak

# OS
.DS_Store
Thumbs.db

